:root {
  --accent-color: #ff0055;
  --rss-color: #F26522;
  --shadow: #0e0e0e99;
  --background-color: #101010;
  --background-soft-light: #000000cc;
  --button-color: #29323c;
  --font-color: #e0e0e0;
  --font-color-bright: #fafafa;
  --font-color-bright-25: #fafafa25;
  --font-color-dark: #0e0e0e;
  --font-color-dark-25: #0e0e0e25;
  --font-family: "Inter", system-ui, sans-serif;
  --font-family-monospace: "DM Mono", monospace;
  --site-spacing: 3rem;
  --inner-shadow: #fafafa99;
  --link-color: var(--accent-color);
  --max-width: 768px;
  --min-width: 400px;
}

/* reset style */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* buttons */
.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--shadow);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right,
      var(--background-color) 0%,
      var(--background-soft-light) 8%,
      var(--background-soft-light) 92%,
      var(--background-color) 100%);
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: var(--background-color);
  padding: 16px 32px;
  color: var(--font-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* page elements */
a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

a:is([href^="/links/"]):not([href="/links/"],[href="/links/index.xml"])::after,
a:not([href^="/"], [href^="#"], [href^="https://drew.x64.onl"], .button, .social-links a, .page-footer a)::after {
  content: " \2197";
  font-weight: bolder;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5rem;
  margin: 1rem auto;
  max-width: var(--max-width);
  padding: 1rem 2rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
i,
svg path,
.site-title a {
  color: var(--font-color-bright);
  text-decoration: none;
}

footer {
  border-top: 1px solid var(--font-color-bright-25);
  margin: 2rem 0 1rem 0;
}

header {
  border-bottom: 1px solid var(--font-color-bright-25);
  margin: 0 0 1rem 0;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 0 1rem 0 0;
}

p {
  margin: 0 0 2rem 0;
  line-height: 1.5rem;
}

pre,
code {
  font-family: var(--font-family-monospace);
  color: var(--font-color-bright);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
}

/* unique */
#earth {
  display: inline-block;
  background: url(/images/site/earth.gif) no-repeat center;
  margin: 0 .5rem;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #00a1fe99;
  filter: drop-shadow(0 0 0.25rem #00a1feaa);
  animation: float 3s ease-in-out infinite;
}

/* utility */
.accent {
  color: var(--link-color);
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.truncate {
  padding: .2rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}

.icon {
  padding: 0 0.5rem;
}

button {
  display: block;
  padding: 1rem 0;
  margin: 1rem auto;
  width: 100%;
}

/* page */
.site-title {
  font-size: 2rem;
}

.page {
  margin: var(--site-spacing) 0;
}

.page .page-header .page-title {
  margin: 0 0 .5rem 0;
}

.page .page-header .page-meta {
  font-style: italic;
}

.page .page-footer .terms {
  margin: var(--site-spacing) 0;
  padding: 0;
  list-style: none;
}

.page-footer p {
  margin: 0.5rem 0;
}

.page .terms li {
  display: inline;
}

.page .terms li:first-child:after {
  content: ": ";
}

.page .terms li:after {
  content: ", ";
}

.page .terms li:last-child:after {
  content: "";
}

/* hero */
.hero {
  margin: var(--site-spacing) 0;
}

.hero * {
  margin: 0.5rem 0;
}

.list-title {
  margin: var(--site-spacing) 0;
}

/* lists */
.list .list-item {
  margin: calc(var(--site-spacing)/2) 0;
  border: 1px solid var(--font-color-bright-25);
  border-radius: 1rem;
  padding: 1.5rem;
}

.list .list-item *:last-child {
  margin: 0;
}

.list .list-item-title {
  margin: 0;
}

.list .list-item-meta {
  margin: 0 0 1rem 0;
  font-size: 0.8rem;
  font-weight: normal;
  font-style: italic;
}

.style-rss {
  color: var(--rss-color);
}