@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  --accent-color: #30dd8a;
  --background-color: #101010;
  --text-color-dark: #d0d0d0;
  --text-color-dark-25: #d0d0d025;
  --text-color: #eaeaea;
  --text-color-bright: #f0f0f0;
  --font-family: "Inter", system-ui, sans-serif;
  --font-family-monospace: "DM Mono", monospace;
}
/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
svg path {
  fill: var(--text-color-bright);
}
/* utilities */
.accent {
  color: var(--accent-color);
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
/* page */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 1rem auto;
  padding: 1rem 2rem;
  max-width: 768px;
}
/* sections */
header {
  border-bottom: 1px solid var(--text-color-dark-25);
  margin-bottom: 1rem;
}
footer {
  margin-top: 1rem;
  border-top: 1px solid var(--text-color-dark-25);
}
/* navigation */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav ul li {
  padding: 0 1rem 0 0;
}
/* content */
main {
  margin: 2rem 0;
}
.profile {
  margin: 3rem 0;
}
/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-bright);
}
a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}
a:not([href^="/"],[href^="#"],[href^="https://drew.x64.onl"],.button,.social-links a,.page-footer a)::after {
  content: " ↗";
  color: var(--accent-color);
}
mark {
  background: var(--accent-color);
  color: var(--text-color-bright);
  padding: .25rem;
  font-weight: bold;
}
table {
  margin: 1.5rem 0;
}
th {
  text-align: left;
}
th, td {
  padding: 0 .5rem 0 0;
}
/* images */
svg path {
  fill: var(--text-color-bright);
}
.site-title {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
/* buttons */
.button {
  display: block;
  max-width: 25rem;
  padding: 1rem 0;
  margin: 1rem auto;
  border: 1px solid var(--text-color);
  border-radius: 7px;
  color: var(--text-color-bright);
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.button:focus {
  outline: none;
}
.button:hover {
  cursor: pointer;
  color: var(--text-color-bright);
  border: 1px solid var(--text-color-bright);
}
.button a {
  text-decoration: none;
}
.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.color-11 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}