<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .IsHome }}
<title>{{ site.Title }}</title>
<meta property="og:type" content="website" />
<meta name="description" content="{{ site.Params.description }}" />
<meta name="keywords" content="{{ site.Params.keywords }}">
{{ else }}
<title>{{ printf "%s - %s" .Title site.Title }}</title>
<meta property="og:type" content="article" />
{{ end }}
<meta name="author" content="{{ site.Params.author.name }} <{{ site.Params.author.email }}>">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌎</text></svg>">
{{ with .OutputFormats.Get "rss" -}}{{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}{{ end }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css" integrity="sha512-cn16Qw8mzTBKpu08X0fwhTSv02kK/FojjNLz0bwp2xJ4H+yalwzXKFw/5cLzuBZCxGWIA+95X4skzvo8STNtSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<script defer src="https://cloud.umami.is/script.js" data-website-id="82f57bba-ce4d-4db7-bd04-b8700b73b7f1"></script>