<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .IsHome }}
<title>{{ site.Title }}</title>
<meta property="og:type" content="website" />
<meta name="description" content="{{ site.Params.description }}" />
<meta name="keywords" content="{{ site.Params.keywords }}">
{{ else }}
<title>{{ printf "%s - %s" .Title site.Title }}</title>
<meta property="og:type" content="article" />
{{ end }}
<meta name="author" content="{{ site.Params.author.name }} <{{ site.Params.author.email }}>">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌎</text></svg>">
{{ with .OutputFormats.Get "rss" -}}{{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}{{ end }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<script defer src="https://cloud.umami.is/script.js" data-website-id="82f57bba-ce4d-4db7-bd04-b8700b73b7f1"></script>